@media screen and (min-width: 600px) {
  .hamburger-button {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .navbar {
    padding: 0.1rem 0.5rem;
  }
  .navlinks {
    flex-direction: column;
    position: fixed;
    padding-top: 5rem;
    font-size: 2rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: transform 0.3s ease;
    transform: translateY(-100%);
  }
  .navlinks.open {
    transform: translateY(0);
  }
}
